<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanfu.dao.InvestmentDao">
    <select id="getInvestment" resultType="com.yanfu.model.base.BaseInfo" >
        select
        title title,
        content content,
        image imageUrl
        from t_investment
    </select>

</mapper>
